*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
/.gradle/
.DS_Store
/build
/captures
/ListaPokemon.iOS/obj/iPhoneSimulator
/ListaPokemon.Android/obj/Debug
/ListaPokemon.iOS/bin/iPhoneSimulator
.externalNativeBuild
.cxx

